.nav{
    display: flex;
    justify-content: space-between;
    background-color: #007B9E;
    padding: 10px 20px;
}
.logo {
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.links{
    display: flex;
    align-items: center;
    gap: 50px;
}

.links a{
    text-decoration: none;
    color: #262626;
    font-size: 28px;
    font-weight: bold;
    transition: 0.29s ease-in-out;
}

.links a:hover{
    color: white;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        font-size: 28px;
    }

    .links {
        flex-direction: row;
        align-items: flex-end;
        gap: 20px;
        width: 100%;
        margin:  0;
    }

    .links a {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 24px;
    }

    .links a {
        font-size: 18px;
    }
}